body {
    margin: 0;
}

button {
    font-size: 20px;
    background-color: hsl(219, 72%, 38%);
    color: white;
    border-color: hsl(219, 72%, 32%);
    margin-left: 35px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {background-color: hsl(219, 55%, 55%);}

button:active {
    background-color: hsl(219, 55%, 55%);
    transform: translateY(2px);
}

/*.retour {*/
/*    display: block;*/
/*    margin-top: 5%;*/
/*    margin-bottom: 4%;*/
/*}*/

#titre {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

li {
    font-size: 28px;
    margin-left: 5%;
}

.verif {
    margin-top: 3%;
}

.alert {
    /*width: 40%;*/
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}