<div class="noCopy">
    <table id="dashboard">
    
        <tr id="name">
            <th>
                <h1>Angers</h1>
            </th>
            <th>
                <h1>Dijon</h1>
            </th>
        </tr>
        <tr id="proco">
            <td>
                <iframe src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=4" width="40%" height="200" frameborder="0"></iframe>
            </td>
            <td>
                <iframe src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=4" width="40%" height="200" frameborder="0"></iframe>
            </td>
        </tr>
        <tr id="recieved">
            <td>
                <iframe class="graph" src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=8" frameborder="0"></iframe>
            </td>
            <td>
                <iframe class="graph" src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=8" frameborder="0"></iframe>
            </td>
        </tr>
        <tr id="send">
            <td>
                <iframe class="graph" src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=6" frameborder="0"></iframe>
            </td>
            <td>
                <iframe class="graph" src="http://192.168.4.200:3000/d-solo/tDT3jvV4z/system-monitoring?orgId=1&refresh=1s&from=now-5m&to=now&theme=light&panelId=6" frameborder="0"></iframe>
            </td>
        </tr>
    </table>
    <button class="retour" (click)="retour()">Retour</button>
    <br>
    </div>