<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/product.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="icon" type="image/x-icon" th:href="@{/image/logo_PFE.png}">
</head>
<body>
    <div>
        <div th:replace="header/header"></div>
    </div>
    <div id="product">
        <p class="description">
            Vous trouverez ici la description des différents produits utilisés dans le projet du Démonstrateur de l'option CSS.
        </p>

        <h1>Démonstration de l’infrastructure basique d’un système informatique</h1>
        <p class="description">Le principe est de montrer la supervision, la redondance et la répartition de charge d’un système informatique.
        <ul>
            <li>
                <p class="description">Raspberry PI
            </li>
            <p class="description">
                Elles symbolisent deux Data Center, un à Angers, le master, et un a Dijon, l'esclave.
                Ces deux Datacenter sont en cluster. Lorsque le Datacenter d'angers arrête de
                fonctionner (on débranche la Raspberry), le Datacenter du Dijon prend le relais. Dans notre démonstration,
                les deux Raspberry PI contiennent un simple site web (apache). </br>
                Une troisième Raspberry PI contient un dongle Wifi. Elle va créer un wifi qui va permettre de connecter les deux Datacenter
                à notre VM controleur.
            </p>
            <li>
                <p class="description">VM Controleur
            </li>
            <p class="description">
                Elle va permettre de contrôler tout le projet. Son OS est Debian Bullseyes.
                Un site web (apache) est herbergé et va permettre le controle du projet. Ce site web est développé en java spring.
                Grâce à la VM controleur, nous allons lancer des scripts shell afin vérifier l'état des Raspberry PI
                (que ça soit l'installation et les connection entre elles et à la VM).
                Elle va également nous permettre de superviser les Raspberry grâce à Grafana.
            </p>
        </ul>
        <p class="image">
            <img id="demoInfra" th:src="@{image/Démo Infra3.jpg}" alt="Démo_Infrastructure">
        </p>
    </div>
    <h3>Arrive très bientot ...</h3>
    <a th:href="@{/}">
        <button class="bouton" type="submit">Retour</button>
    </a>
    <p></p>
    <!-- <h2>Exercice d'infrastructure Linux</h2>
    <p>
        <ul>
            <li>

            </li>
        </ul>
        <p>
            <img th:src="@{image/Exercice Linux Shell1.jpg}" alt="Exercice infrastructure">
        </p>
    </p>
    <h2>Exercice de sécurité</h2>
    <p></p> -->
    <div>
        <div th:replace="footer/footer"></div>
    </div>
</body>
</html>