<p class="titre">L'equipe du projet</p>
<ul class="etudiants">
    <li>
        <img src="../../assets/photo_Dorian.jpg" alt="Dorian" width="40%" height="auto">
        <p>Dorian <br> Sécialité Logiciel et Données</p>
    </li>
    <li>
        <img src="" alt="Guillaume">
        <p>Guillaume <br> Sécialité Cloud, Système et Sécurité</p>
    </li>
    <li>
        <img src="../../assets/photo_Elodie.png" alt="Elodie" width="45%" height="auto">
        <p>Elodie <br> Sécialité Cloud, Système et Sécurité</p>
    </li>
</ul>